  @import url(https://fonts.googleapis.com/css2?family=Coiny&family=Dekko&family=Poetsen+One&display=swap);
  #galCats, .gallery-item-qty, hr, #page_footer, #sb_top, #sb_side, #page_banner, .category-divider, .links-flex {
  display: none
  }
  .gallerykeeper-img {
    content: url(https://images.neopets.com/games/betterthanyou/contestant229.gif)
  }
  #galleryCategories p {
  font-size: 0;
  width: 100%
  }
  #page_event {
  min-height: 0;
  max-height: fit-content;
  }
  #page_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  }
  #container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100dvh;
  height: fit-content;
  justify-content: center;
  align-items: center
  }
  main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  #shopBar {
  margin: 0;
  }
  body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/Didi/neggadots.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #galleryInfo {
  text-align: center;
  font-size: 12pt
  }
  #galleryDesc {
  display: flex;
  flex-direction: column;
  text-align: center
  }
  #galleryDesc h1, h2 {
  line-height: 0;
  font-family: poetsen one;
  color: #7c55cc
  }
  #galleryDesc h1 {
  font-size: 36pt
  }
  #galleryDesc h2 {
  font-size: 24pt
  }
  #galleryCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  font-size: 14pt
  }
  #galleryCategories a, #galleryCategories a:visited, #galleryCategories a:hover, #galleryCategories strong {
  font-weight: bold;
  padding: 1%;
  border-radius: 0.5em;
  background-color: #00c694;
  margin-top: -10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75)
  }
  #galleryCategories a, #galleryCategories a:visited {
  color: black
  }
  #galleryCategories strong {
  background-color: #ff9cff;
  border-color: #ff9cff
  }
  #galleryCategories a:hover {
  transform: scale(1.1)
  }
  #galleryContent {
  background-color: white;
  border-radius: 2em;
  border: solid 5px #295ac6;
  font-family: dekko;
  font-size: 16pt;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
  overflow: auto;
  margin: auto;
  height: 85vh;
  }
  #gallery_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  font-size: 12pt;
  font-weight: lighter
  }
  .gallery_item img {
    border: 3px double gold;
    border-radius: 1em
  }
  .gallery_item {
    width: min-content;
    height: fit-content;
    margin: 10px;
    display: grid;
    align-content: flex-start
  }
  .gallery_item img:hover {
    -webkit-animation: rotate-scale-up 0.4s linear both;
    animation: rotate-scale-up 0.4s linear both
  }
  /* ----------------------------------------------
   * Generated by Animista on 2025-2-10 13:4:52
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info.
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation rotate-scale-up
   * ----------------------------------------
   */
  @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    } 50% {
      -webkit-transform: scale(1) rotateZ(180deg);
      transform: scale(1) rotateZ(180deg);
    } 100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    } 50% {
      -webkit-transform: scale(1) rotateZ(180deg);
      transform: scale(1) rotateZ(180deg);
    } 100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }
  @media screen and (max-width: 959px) {
    #container {
    padding-bottom: 0;
    }
    #sb_bottom {
    display: none
    }
    #shopToolBar {
    display: initial
    }
    #galleryInfo {
    font-size: 20pt
    }
    #galleryDesc {
    font-size: 30pt
    }
    #galleryDesc h1 {
    font-size: 54pt
    }
    #galleryDesc h2 {
    font-size: 40pt
    }
    #galleryCategories {
    font-size: 30pt
    }
    #gallery_items {
    font-size: 20pt
    }
    .gallery_item {
      margin: 0
    }

  }
