
/*STYLE*/
body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/backgrounds/starry.jpg)
}
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
background: #f2df66;
color: #0033af;
border: 3px solid #f2df66;
font-size: 12pt;
box-shadow: 1px 1px 4px 0 gold
}
#petLookupContent {
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
}
.pet--name {
    font-size: 36pt
}
.pet--header {
    font-size: 18pt;
    margin-top: 0;
    padding-bottom: 0.25em;
    background-color: #0033af;
    color: #f2df66;
    text-shadow: 1px 1px 1px #000
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 10pt
}
.pet--statsheader, #bio h2, #testimonials h2 {
    font-size: 14pt;
    color: #f2df66;
    text-shadow: 1px 1px 1px #000;
    background-color: #0033af
}
.pet--petpetname {
    font-size: 16pt
}
#petStats, #testimonials, #bio {
font-size: 11pt
}
#petTraits {
display: none
}
.pet--color {
    color: #f2df66
}
.pet--color:hover {
    color: #f2df66
}
#petStats a {
color: #0137b4
}
#petStats a:hover {
color: #1232f7
}
.pet--gendercolor, .pet--hpcolor {
    color: #0137b4
}
.pet--petpetname {
    color: #c99700;
    text-shadow: 1px 1px 1px black
}
/*HIDE SHIT*/
hr, .pet--petpetage, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav a, #aio_sidebar_placeholder, #petChallenge {
    display: none
}
.pet--no-trade-text {
    color: #c99700
}
/*BREAK SHIT*/
#petDescription, div#desc, main, #petTop, #petInfo, #petPetpet, .pet_all_petpets, .pet_petpet {
display: contents
}
/*CENTERING*/
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content;
justify-content: center;
align-items: center
}
/*NAVIGATION*/
/*FORMATTING*/
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
#petLookupContent {
display: grid;
grid-template-areas: "header header" "pet p2img" "p2header p2header" "p2desc p2desc" "stats  stats" "testimonials testimonials";
grid-template-columns: 50%;
grid-template-rows: auto auto auto auto auto auto auto;
width: 26em;
max-width: 44em;
margin: auto;
position: relative;
border-radius: 18px;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
color: black;
gap: 0;
background: white;
padding-bottom: 1em
}
#nav, #mobilenav {
position: absolute;
top: -3.5em;
height: fit-content;
margin-top: 0.75em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
padding-left: 0.25em;
padding-right: 0.25em;
border-radius: 0.25em
}
#nav a:hover, #mobilenav a:hover {
scale: 0.9
}
.pet--header {
    grid-area: header;
    border-radius: 0.35em 0.35em 0 0;
    margin-top: 0;
    margin-bottom: 0.25em
}
.pet--name {
    display: block
}
#petImage {
grid-area: pet;
margin-left: 30%
}
.pet--petpetimg {
    grid-area: p2img;
    align-self: end;
    margin-left: 18%;
    padding-right: auto;
    background: white
}
.pet--petpetheader {
    grid-area: p2header;
    font-size: 0
}
.pet--petpetheader:after {
    content: "and their petpet,";
    font-size: 10pt
}
.pet--petpetdesc {
    grid-area: p2desc;
    margin-bottom: 0.25em;
}
.pet--petpetzapped {
    color: transparent;
    grid-area: p2img;
    justify-self: left;
    margin-top: 35%;
    margin-left: 60%;
    font-size: 0pt;
}
.pet--statsheader {
    width: 100%;
    margin: 0;
    margin-bottom: 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75)
}
#petStats {
display: details;
grid-area: stats;
background: none;
border-radius: 0.35em;
margin: 0.25em 0.25em 0.25em 0.5em;
padding: 0 0.35em 0 0.35em
}
#desc {
grid-area: desc;
display: grid;
grid-template-areas: "testimonials";
grid-template-columns: 50% 50%;
justify-content: center;
margin-top: 1em
}
#testimonials, #bio {
display: none;
}
.pet--no-trade-alert {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: -4em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: fit-content;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
/*STYLE*/
body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/backgrounds/mountainsnow.png)
}
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
color: white;
padding-top: 0.25em;
padding-bottom: 0.25em;
padding-left: 0.65em;
padding-right: 0.65em;
border-radius: 0.35em;
background: #7b93b9;
box-shadow: 0 0 5px 0 #596a85;
border: none;
}
#petLookupContent {
border-radius: 18px;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
border: 5px solid #7b93b9;
margin-top: 2em;
margin-bottom: 2em;
}
.pet--name {
    font-size: 36pt
}
.pet--header {
    font-size: 18pt;
    margin-top: 0;
    padding-bottom: 0.25em;
    background-color: #d4dff3;
    color: #22597e;
    text-shadow: 1px 1px 3px #596a85;
    border-radius: 18px 18px 0 0;
}
.pet--statsheader {
    font-size: 14pt;
    color: #fff;
    text-shadow: 1px 1px 3px #596a85;
    background-color: #d4dff3
}
.pet--color {
    color: #fff
}
.pet--color:hover {
    color: #eee
}
#petStats a {
color: #22597e
}
#petStats a:hover {
color: #22597e
}
.pet--gendercolor, .pet--hpcolor {
    color: #22597e
}
.pet--petpetname {
    color: #22597e;
    text-shadow: none;
}
.pet--no-trade-alert {
    background: rgba(34, 89, 126,.5);
    margin: 0 15% 0 15%;
    bottom: -4.5em
}
.pet--no-trade-text {
    color: white;
}
@media screen and (max-width: 959px) {
    #sb_bottom {
    display: none
    }
    #nav {
    display: flex;
    top: initial;
    top: -4em;
    gap: 0;
    width: 100%;
    justify-content: center;
    gap: 1em
    }
    #nav a {
    font-size: 24pt
    }
    #container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    max-height: 100vh;
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    margin-top: 5em;
    }
    #petStats {
    font-size: 26pt
    }
    .pet--statsheader {
        font-size: 36pt
    }
    .pet--name {
        font-size: 72pt;
        display: block
    }
    .pet--header {
        font-size: 32pt
    }
    #petImage {
    margin-left: 15%
    }
    .pet--image {
        width: 50vw
    }
    .pet--petpetimg {
        margin-left: 25%;
        width: 25vw
    }
    .pet--no-trade-alert {
        bottom: -3.5em;
        font-size: 24pt
    }
    .pet--petpetheader:before, .pet--petpetheader:after, .pet--petpetdesc {
        font-size: 24pt
    }
    .pet--petpetname {
        font-size: 36pt
    }
    .pet--petpetzapped img {
        width: 24pt;
    }
    .pet--petpetzapped {
        justify-self: right;
        margin-top: 50%;
        margin-right: 15%;
    }
    #petTraits {
    font-size: 16pt
    }
}


