  @import url(https://fonts.googleapis.com/css2?family=Coiny&family=Dekko&family=Poetsen+One&display=swap);
  #galCats, hr, #page_footer, #sb_top, #sb_side, #page_banner, .category-divider, .links-flex, .gallery-item-qty {
  display: none
  }
  #galleryCategories p {
  font-size: 0;
  width: 100%
  }
  #page_event {
  min-height: 0;
  max-height: fit-content;
  }
  #page_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  }
  #container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100dvh;
  height: fit-content;
  justify-content: center;
  align-items: center
  }
  main {
      height: 100dvh;
      display: flex;
      flex-direction: column;
      gap: 0;
  }
  #shopBar {
  margin: .25em;
  }
  body {
      background-image: url(https://raw.githubusercontent.com/Hawkeye0021/hawkeye0021.github.io/refs/heads/main/GCcode/backgrounds/winterscape.png);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      overflow: hidden;
  }
  .gallerykeeper-img {
      content: url(https://images.neopets.com/art/faeries/taelia12.gif)
}
  #galleryInfo {
  text-align: center;
  font-size: 12pt
  }
  #galleryDesc {
  display: flex;
  flex-direction: column;
  text-align: center
  }
  #galleryDesc h1, h2 {
  line-height: 0;
  font-family: poetsen one;
  color: #7c55cc
  }
  #galleryDesc h1 {
  font-size: 36pt
  }
  #galleryDesc h2 {
  font-size: 24pt
  }
  #galleryCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  font-size: 14pt
  }
  #galleryCategories a, #galleryCategories a:visited, #galleryCategories a:hover, #galleryCategories strong {
  font-weight: bold;
  padding: 1%;
  border-radius: 0.5em;
  background-color: #d4dff3;
  margin-top: -10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75)
  }
  #galleryCategories a, #galleryCategories a:visited {
  color: black
  }
  #galleryCategories strong {
  background-color: #7b93b9;
  border-color: #7b93b9
  }
  #galleryCategories a:hover {
  transform: scale(1.1)
  }
  #galleryContent {
  background-color: white;
  border-radius: 2em;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
  border: 5px solid #7b93b9;
  font-family: dekko;
  font-size: 16pt;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
  overflow: auto;
  margin: auto;
  height: 85vh;
  }
  #gallery_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  font-size: 12pt;
  font-weight: lighter
  }
  .gallery_item img {
      box-shadow: 0 0 6px 0 grey;
      border-radius: 10em;
      background: white;
      border: none;
  }
  .gallery_item img:hover {
      rotate: 20deg
  }
  .gallery_item {
      width: min-content;
      height: fit-content;
      margin: 10px;
      display: grid;
      align-content: flex-start
  }
  .gallery_item img:hover {
      -webkit-animation: rotate-scale-up 0.4s linear both;
      animation: rotate-scale-up 0.4s linear both
  }
  .snowflake {
      color: #fff;
      font-size: 1em;
      font-family: Arial, sans-serif;
      text-shadow: 0 0 5px #000
  }
  .snowflake, .snowflake .inner {
      animation-iteration-count: infinite;
      animation-play-state: running
  }
  @keyframes snowflakes-fall {
      0% {
          transform: translateY(0)
      } 100% {
          transform: translateY(110vh)
      }
  }
  @keyframes snowflakes-shake {
      0%, 100% {
          transform: translateX(0)
      } 50% {
          transform: translateX(80px)
      }
  }
  .snowflake {
      position: fixed;
      top: -10%;
      z-index: 9999;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
      animation-name: snowflakes-shake;
      animation-duration: 3s;
      animation-timing-function: ease-in-out
  }
  .snowflake .inner {
      animation-duration: 10s;
      animation-name: snowflakes-fall;
      animation-timing-function: linear
  }
  .snowflake:nth-of-type(0) {
      left: 1%;
      animation-delay: 0s
  }
  .snowflake:nth-of-type(0) .inner {
      animation-delay: 0s
  }
  .snowflake:first-of-type {
      left: 10%;
      animation-delay: 1s
  }
  .snowflake:first-of-type .inner, .snowflake:nth-of-type(8) .inner {
      animation-delay: 1s
  }
  .snowflake:nth-of-type(2) {
      left: 20%;
      animation-delay: 0.5s
  }
  .snowflake:nth-of-type(2) .inner, .snowflake:nth-of-type(6) .inner {
      animation-delay: 6s
  }
  .snowflake:nth-of-type(3) {
      left: 30%;
      animation-delay: 2s
  }
  .snowflake:nth-of-type(11) .inner, .snowflake:nth-of-type(3) .inner {
      animation-delay: 4s
  }
  .snowflake:nth-of-type(4) {
      left: 40%;
      animation-delay: 2s
  }
  .snowflake:nth-of-type(10) .inner, .snowflake:nth-of-type(4) .inner {
      animation-delay: 2s
  }
  .snowflake:nth-of-type(5) {
      left: 50%;
      animation-delay: 3s
  }
  .snowflake:nth-of-type(5) .inner {
      animation-delay: 8s
  }
  .snowflake:nth-of-type(6) {
      left: 60%;
      animation-delay: 2s
  }
  .snowflake:nth-of-type(7) {
      left: 70%;
      animation-delay: 1s
  }
  .snowflake:nth-of-type(7) .inner {
      animation-delay: 2.5s
  }
  .snowflake:nth-of-type(8) {
      left: 80%;
      animation-delay: 0s
  }
  .snowflake:nth-of-type(9) {
      left: 90%;
      animation-delay: 1.5s
  }
  .snowflake:nth-of-type(9) .inner {
      animation-delay: 3s
  }
  .snowflake:nth-of-type(10) {
      left: 25%;
      animation-delay: 0s
  }
  .snowflake:nth-of-type(11) {
      left: 65%;
      animation-delay: 2.5s
  }
  @media screen and (max-width: 959px) {
      #container {
      padding-bottom: 0;
      }
      #sb_bottom {
      display: none
      }
      #shopToolBar {
      display: initial
      }
      #galleryInfo {
      font-size: 20pt
      }
      #galleryDesc {
      font-size: 30pt
      }
      #galleryDesc h1 {
      font-size: 54pt
      }
      #galleryDesc h2 {
      font-size: 40pt
      }
      #galleryCategories {
      font-size: 30pt
      }
      #gallery_items {
      font-size: 20pt
      }
      .gallery_item {
          margin: 0
      }

  }
