
/*BACKGROUND IMAGE - url must be a direct image link*/
body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/backgrounds/CosyGamer.jpg)
}
/*DELETE TO SHOW PET TRAITS ([petname] likes gathering food)*/
#petTraits {
display: none
}
/*SET TO flex TO SHOW TESTIMONIALS SECTIONS*/
#testimonials {
display: none;
}
/*BORDERS*/
#petLookupContent {
border-radius: 0.75em;
}
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
border-radius: .25em; /*using em instead of px makes it adapt to mobile*/
}
.pet--header {
    border-radius: 0.35em 0.35em 0 0;/*numbers go clockwise starting at top-left*/
}
.pet--statsheader, #bio h2, #testimonials h2 {
    border-radius: .5em .5em 0 0;
}
.pet--no-trade-text {
    border-radius: 0.5em
}
/*COLORS*/
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
background-color: white;
}
.pet--header {
    background-color: blueviolet
}
.pet--statsheader {
    background-color: blueviolet
}
#bio h2 {
background-color: blueviolet
}
#testimonials h2 {
background-color: blueviolet
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
}
/*FONTS*/
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
font-size: 12pt;
font-family: unset;
color: black;
}
.pet--header {
    font-size: 18pt;
    font-family: unset;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.pet--name {
    font-size: 36pt;
}
.pet--petpetheader {
    font-size: 10pt;
    font-family: unset;
    color: black;
}
.pet--petpetdesc {
    font-size: 10pt;
    font-family: unset;
    color: black;
}
.pet--petpetname {
    font-size: 16pt;
    font-family: unset;
    color: black;
}
.pet--statsheader, #bio h2, #testimonials h2 {
    font-size: 14pt;
    font-family: unset;
    color: white;
    text-shadow: 1px 1px 1px black;
}
#petStats, #testimonials, #bio {
font-size: 11pt;
font-family: unset;
color: black;
}
.pet--no-trade-alert {
    font-size: 12pt;
    font-family: unset;
    color: red;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
}
/*DON'T GO DOWN HERE, THIS IS THE BAD PLACE, PROCEED AT YOUR OWN RISK*/
/*HIDE SHIT*/
hr, .pet--petpetage, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav a, #aio_sidebar_placeholder, #petChallenge {
    display: none
}
/*BREAK SHIT*/
#petDescription, div#desc, main, #petTop, #petInfo, .pet_all_petpets {
display: contents
}
/*CENTERING*/
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content;
justify-content: center;
align-items: center
}
/*NAVIGATION*/
/*FORMATTING*/
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
#petLookupContent {
display: grid;
grid-template-areas:
"header header"
"pet p2img"
"p2header p2header"
"p2desc p2desc"
"stats bio"
"testimonials testimonials";
grid-template-columns: 50%;
grid-template-rows: auto auto auto auto auto auto auto;
width: fit-content;
max-width: 44em;
margin: auto;
position: relative;
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
color: black;
gap: 0;
background: white
}
#nav, #mobilenav {
position: absolute;
top: -3.5em;
height: fit-content;
margin-top: 0.75em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
padding: .25em;
padding-left: 0.5em;
padding-right: 0.5em;
}
#nav a:hover, #mobilenav a:hover {
scale: .9
}
.pet--header {
    grid-area: header;
    margin-top: 0;
    margin-bottom: 0.25em;
}
#petImage {
grid-area: pet;
}
#petPetpet {
grid-area: p2img;
align-self: center;
}
.pet--image {
    width: 90%;
}
.pet--petpetimg, .pet--p3img {
    width: 44%;
}
.pet--statsheader {
    width: 100%;
    margin: 0;
    margin-bottom: 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75)
}
#petStats {
grid-area: stats;
background: none;
border-radius: 0.35em;
margin: 0.25em 0.25em 0.25em 0.5em;
padding: 0 0.35em 0 0.35em
}
#desc {
grid-area: desc;
display: grid;
grid-template-areas: "testimonials bio";
grid-template-columns: 50% 50%;
justify-content: center;
margin-top: 1em
}
#bio {
grid-area: bio;
margin: 0.25em 0.5em 0.25em 0.25em;
justify-content: center
}
#testimonials {
grid-area: testimonials;
margin: 0.25em 0.5em 0.5em 0.5em;
flex-direction: row;
flex-wrap: wrap;
column-gap: 1em;
justify-content: center
}
#testimonials h2, #bio h2 {
width: 100%;
box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
margin: 0
}
#testimonials p {
width: 30%
}
#testimonials, #bio {
border-radius: 0.35em;
padding-left: 0.35em;
padding-right: 0.35em
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    bottom: -2.25em;
    left: 0;
    width: 100%
}
.pet--no-trade-text {
    padding: 0.25em;
}
.pet--no-trade-icon {
    display: none
}
@media screen and (max-width: 959px) {
    #nav {
    display: none
    }
    #sb_top {
    display: initial
    }
    #mobilenav {
    display: flex;
    top: initial;
    top: -3em;
    gap: 0;
    width: 100%;
    justify-content: center;
    gap: 1em;
    }
    #mobilenav a {
    font-size: 30pt;
    }
    #container {
    min-height: fit-content;
    }
    #page_content {
    margin-bottom: 2em;
    margin-top: 2em
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    padding-top: 1em
    }
    #petStats, #bio, #testimonials {
    font-size: 20pt
    }
    .pet--statsheader, #bio h2, #testimonials h2 {
        font-size: 24pt;
    }
    .pet--name {
        font-size: 60pt;
        display: block;
    }
    .pet--header {
        margin-top: -1em;
        font-size: 24pt
    }
    .pet--no-trade-alert {
        bottom: -2em;
        font-size: 24pt
    }
    .pet--petpetheader, .pet--petpetdesc {
        font-size: 20pt;
    }
    .pet--petpetname {
        font-size: 24pt
    }
    #petTraits {
    font-size: 16pt
    }
}
