@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Buda:wght@300&family=Eater&family=Metal+Mania&family=Rock+Salt&display=swap');
/*hiding things*/
hr, #page_footer, #sb_top, #sb_side, #page_banner, .ul--headerlabel {
    display: none
}
body {
    background-attachment: fixed;
    background-image: url(https://i.imgur.com/wcBpq7n.png);
    background-size: cover;
    color: #3d7d05;
    cursor: url(https://i.imgur.com/lEG0eN8.png), auto
}

div#container {
    width: 100%;
    display: flex;
    flex-direction: column
}
div#page_content {
    margin: auto;
    width: 900px
}
#userLookupContent {
display: grid;
background-image: url(https://i.imgur.com/KoQZApx.png);
background-position: top;
background-size: 100% 100%;
font-family: aubrey;
margin-top: 50px;
}
#userLookupDesc {
display: grid;
}
#page_event {
position: absolute;
top: 50px;
left: 10px
}
#nav {
width: 800px;
position: absolute;
display: flex;
flex-direction: row;
top: 0;
font-size: 16pt;
justify-content: space-evenly;
justify-self: center;
background-color: #eeeeee;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow: 0px 0px 8px 1px black;
}
#nav a, #nav a:visited {
display: flex;
flex-direction: row;
color: black;
justify-content: center;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 15px;
padding-right: 20px;
border-radius: 5px;
}
#nav a:hover {
background-image: url(https://i.imgur.com/Z2FLsEw.png);
background-position: center;
background-size: 100% 100%;
}
a, a:visited {
    color: #3d7d05
}
a:hover {
    color: #8ab926;
    cursor: url(https://i.imgur.com/tCGuzH6.png), auto
}
.ul--username {
    display: block;
    margin-top: 115px;
    margin-bottom: -150px;
    font-size: 48pt;
    font-family: rock salt;
    color: #0e9131;
}
#userLookupInfo {
display: flex;
flex-direction: row;
justify-content: center;
color: #3d7d05;
font-size: 14pt;
width: 100%;
margin-top: 125px;
}
#userLookupInfo a {
font-style: italic
}
#userLookupInfo a:hover {
color: #8ab926;
font-style: italic
}
#userLookupText {
grid-area: info
}
#userLookupShield {
grid-area: shield;
justify-self: center;
display: flex;
}
.ul--shield {
    content: url(https://i.imgur.com/051uGsh.png);
    width: 150px;
}
.ul--stampsimg {
    content: url(https://i.imgur.com/V8eIggR.gif)
}
.ul--gendercolor {
    color: #3d7d05;
}
#userLookupCollections {
grid-area: collections;
display: flex;
flex-direction: column;
justify-content: center;
font-size: 14pt;
}
.smallfont {
    font-size: 12pt;
}
#userLookupLinks {
padding-top: 10px;
padding-bottom: 10px;
width: 75%;
margin: auto;
}
#userLookupPets {
display: flex;
flex-direction: column;
width: 85%;
margin: auto;
}
#userPetList {
justify-content: center;
color: black;
}
#userPetList a, #userPetList a:visited {
color: black
}
#userPetList a:hover {
color: black
}
div.ul__pet {
    width: 150px;
    height: 150px;
    font-size: 10pt;
    background-image: url(https://i.imgur.com/Z2FLsEw.png);
    background-position:bottom;
    background-size: 100% 100%;
    display: grid;
    align-content: end;
}
.ul--petimg {
    border-style: solid;
    border-color: #99ca1f;
    border-radius: 8px;
    width: 100px;
}
.ul--petimg:hover {
    transform: scale(1.15)
}
.ul--petname {
    font-size: 14pt;
    text-shadow: 2px 2px 0px white
}
#siteTrophiesList, #gameTrophiesList {
justify-content: center;
color: #3d7d05;
}

.ul--sitetrophyimg, .ul--gametrophyimg {
    border-radius: 5px;
}
.ul--sitetrophyname, .ul--gametrophyname, .ul--sitetrophycap, a.gamelink {
    font-size: 11pt;
    font-weight: bold
}
.ul--linkimg {
    content: url(https://i.imgur.com/MksYYI5.gif)
}
.ul--linkimg:hover {
    transform: scale(1.35);
    cursor: url(https://i.imgur.com/tCGuzH6.png), auto
}
.ul--linktext {
    font-size: 14pt;
}
.ul__link {
    height: 75px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
.ul__neofriend .ul--linktext, .ul__neomail .ul--linktext {
    visibility: hidden;
    font-size: 0
}
.ul__neomail .ul--linktext::after {
    content: "Neomail";
    visibility: visible;
    font-size: 14pt
}
.ul__neofriend .ul--linktext::after {
    content: "Neofriend";
    visibility: visible;
    font-size: 14pt
}
.ul--sectionheader {
    font-size: 16pt;
    letter-spacing: 0.15em;
    font-family: eater;
}
