
            /*STYLE*/
            body {
                background: white
            }
            #nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
            color: blue;
            font-weight: lighter;
            text-transform: lowercase;
            font-size: 12pt
            }
            .pet--header {
                font-size: 24pt;
                margin-top: 0;
                background-color: #f4f4f4;
                color: black;
                font-weight: lighter;
                text-transform: lowercase;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc
            }
            .pet--color {
                color: purple;
                font-weight: lighter
            }
            .pet--color:hover {
                text-decoration: underline;
                color: purple
            }
            .pet--petpetheader {
                font-size: 10pt
            }
            .pet--statsheader, #bio h2, #testimonials h2 {
                font-size: 14pt;
                color: blue;
                font-weight: lighter;
                text-transform: lowercase
            }
            .pet--petpetname, .pet--petpetdesc {
                font-size: 12pt;
                font-weight: lighter;
                text-transform: lowercase
            }
            #petStats, #testimonials, #bio {
            font-size: 11pt
            }
            #petTraits {
            display: none
            }
            /*HIDE SHIT*/
            .pet--weight, .pet--height, #testimonials, hr, .pet--petpetage, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav a, #aio_sidebar_placeholder, #petChallenge, .pet--ownername {
                display: none
            }
            .pet--no-trade-text {
                background-color: #f4f4f4;
                color: blue;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc
            }
            /*BREAK SHIT*/
            #petDescription, div#desc, main, #petTop, #petInfo, #petPetpet, .pet_all_petpets, .pet_petpet {
            display: contents
            }
            /*CENTERING*/
            #page_content {
            width: 100vw
            }
            #container {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 100vw;
            min-height: 100dvh;
            height: fit-content;
            justify-content: center;
            align-items: center
            }
            /*NAVIGATION*/
            /*FORMATTING*/
            body {
                background-size: cover;
                background-position: center;
                background-attachment: fixed
            }
            #petLookupContent {
            display: grid;
            grid-template-areas: "header header" "pet p2img" "p2header p2header" "p2desc p2desc" "stats  bio" "testimonials testimonials";
            grid-template-columns: 50%;
            grid-template-rows: auto auto auto auto auto auto auto;
            width: fit-content;
            max-width: 44em;
            margin: auto;
            position: relative;
            color: black;
            gap: 0;
            background: white
            }
            #nav, #mobilenav {
            position: absolute;
            top: -3.5em;
            height: fit-content;
            margin-top: 0.75em;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-self: center;
            gap: 1em
            }
            #nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
            padding-left: 0.25em;
            padding-right: 0.25em;
            border-radius: 0.25em
            }
            #nav a:hover, #mobilenav a:hover {
            color: purple;
            text-decoration: underline
            }
            .pet--header {
                grid-area: header;
                margin-top: 0;
                margin-bottom: 0.25em
            }
            #petImage {
            grid-area: pet;
            margin-left: 60%;
            margin-top: 20px
            }
            .pet--petpetimg {
                grid-area: p2img;
                align-self: end;
                margin-left: 11%;
                padding-right: auto;
                background: white
            }
            .pet--petpetheader {
                grid-area: p2header;
                font-size: 0
            }
            .pet--petpetheader:after {
                content: "and their petpet,";
                font-size: 10pt
            }
            .pet--petpetdesc {
                grid-area: p2desc;
                margin-bottom: 20px
            }
            .pet--statsheader {
                margin-bottom: 0.8em
            }
            #petStats {
            grid-area: stats;
            background: none;
            margin: 0.25em 10px 0.25em 0.5em;
            padding: 0;
            background: #f4f4f4;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding-top: 5px;
            text-transform: lowercase;
            font-weight: lighter
            }
            .pet--gendercolor {
                color: #f4f4f4
            }
            .pet--gendercolor::after {
                content: "html";
                color: blue;
                margin-left: -4ch
            }
            .pet--ownerlink, .pet--hpcolor {
                color: blue;
                font-weight: lighter
            }
            .pet--ownerlink:hover {
                color: purple;
                text-decoration: underline
            }
            #desc {
            grid-area: desc;
            display: grid;
            grid-template-areas: "testimonials bio";
            grid-template-columns: 50% 50%;
            justify-content: center;
            margin-top: 1em
            }
            #bio {
            grid-area: bio;
            margin: 0.25em 0.5em 0.25em 10px;
            justify-content: center;
            background: #f4f4f4;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding-top: 5px
            }
            #bio a {
            color: blue;
            font-weight: lighter
            }
            #bio a:hover {
            color: purple;
            text-decoration: underline
            }
            #testimonials h2, #bio h2 {
            width: 100%;
            margin: 0
            }
            #testimonials p {
            width: 30%
            }
            #bio p {
            padding-left: 10px;
            padding-right: 10px
            }
            .pet--no-trade-alert {
                position: absolute;
                background-color: transparent;
                bottom: -2.25em;
                font-weight: normal;
                left: 0;
                width: 100%
            }
            .pet--no-trade-text {
                padding: 0.25em
            }
            .pet--no-trade-icon {
                display: none
            }
            @media screen and (max-width: 959px) {
                #nav {
                display: none
                }
                #sb_top, #sb_side {
                display: initial
                }
                #mobilenav {
                display: flex;
                top: initial;
                top: -3em;
                gap: 0;
                width: 100%;
                justify-content: center;
                gap: 1em
                }
                #mobilenav a {
                font-size: 30pt
                }
                #container {
                min-height: fit-content
                }
                #page_content {
                margin-bottom: 2em;
                margin-top: 2em
                }
                #petLookupContent {
                width: 90vw;
                height: fit-content;
                font-size: 24pt;
                padding-top: 1em
                }
                #petStats, #bio, #testimonials {
                font-size: 20pt
                }
                .pet--statsheader, #bio h2, #testimonials h2 {
                    font-size: 24pt
                }
                .pet--name {
                    font-size: 60pt;
                    display: block
                }
                .pet--header {
                    margin-top: -1em;
                    font-size: 24pt
                }
                #petImage {
                margin-left: 50%
                }
                .pet--petpetimg {
                    margin-left: 20%
                }
                .pet--no-trade-alert {
                    bottom: -2em;
                    font-size: 24pt
                }
                .pet--petpetheader:before, .pet--petpetheader:after, .pet--petpetdesc {
                    font-size: 20pt
                }
                .pet--petpetname {
                    font-size: 24pt
                }
                #petTraits {
                font-size: 16pt
                }
            }
