@import url(https://fonts.googleapis.com/css2?family=Special+Elite&display=swap);
hr, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, .pet--battleimg, #sb_top, #sb_side, #page_banner, #petLinks {
    display: none
    }
body {
    background-image: url(https://i.postimg.cc/43cKCXQY/wallhaven-g79p1l-3.png)
    }
/*centering*/
#page_event {
    margin: 0
    }
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100dvh;
    height: fit-content
    }
#page_content {
    display: flex;
    margin: auto;
    width: 100vw;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content
    }
/* credit to https://css-tricks.com/snippets/css/animated-grainy-texture/ for film grain effect*/
#container:after {
    animation: grain 5s steps(10) infinite;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png);
    background-size: 50%;
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.05;
    position: fixed;
    top: -110%;
    width: 300%;
    pointer-events: none
    }
@keyframes grain {
    0%, 100% {
        transform: translate(0, 0)
        } 10% {
        transform: translate(-5%, -10%)
        } 20% {
        transform: translate(-15%, 5%)
        } 30% {
        transform: translate(7%, -25%)
        } 40% {
        transform: translate(-5%, 25%)
        } 50% {
        transform: translate(-15%, 10%)
        } 60% {
        transform: translate(15%, 0%)
        } 70% {
        transform: translate(0%, 15%)
        } 80% {
        transform: translate(3%, 35%)
        } 90% {
        transform: translate(-10%, 10%)
        }
    }
#petLookupContent {
    max-width: 44em;
    position: relative;
    font-family: special elite;
    color: black;
    gap: unset;
    background-color: white;
    border-radius: 10px;
    border-style: double;
    border-color: #0f0;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.75);
    margin-top: 1.5em
    }
.pet--name {
    display: block;
    font-size: 48pt
    }
.pet--header {
    text-align: left;
    line-height: 2em
    }
/*info*/
#petInfo {
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 1em;
    justify-content: center
    }
#petStats {
    background-color: transparent;
    font-size: 12pt;
    padding: 0;
    text-align: left;
    line-height: 1.5em
    }
.pet--image {
    content: url(https://i.postimg.cc/WpdmLWSM/francium-commission.png);
    width: 15em
    }
#petBattle {
    grid-area: battledome;
    margin-top: 1em
    }
#petRecord {
    grid-area: battledome;
    display: grid;
    grid-template-areas: "header header header header" "played won lost drawn" "score score score score";
    grid-column-gap: 2em;
    grid-row-gap: 0.5em
    }
.pet--recordheader {
    grid-area: header
    }
.pet--played {
    grid-area: played
    }
.pet--won {
    grid-area: won
    }
.pet--lost {
    grid-area: lost
    }
.pet--drawn {
    grid-area: drawn
    }
.pet--score {
    grid-area: score
    }
#petPetpet {
    position: absolute;
    width: 47%;
    top: 25em
    }
.pet--petpetheader, .pet--petpetdesc {
    font-size: 10pt
    }
.pet--petpetage {
    display: none
    }
.pet--petpetimg {
    mix-blend-mode: multiply
    }
.pet--petpetzapped {
    color: transparent;
    position: relative;
    bottom: 12em;
    right: 3em;
    transform: rotatey(180deg)
    }
.pet--petpetname {
    display: block;
    font-size: 28pt
    }
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    color: #0f0;
    bottom: -3em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%;
    font-size: 14pt
    }
.pet--no-trade-text {
    padding: 0.15em;
    border-radius: 0.5em
    }
.pet--no-trade-icon {
    display: none
    }
#petDescription {
    font-size: 12pt;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "testimonials bio";
    grid-area: desc;
    color: white;
    border-radius: 5px;
    color: black;
    width: 100%;
    margin-top: 1em
    }
#Testimonials {
    width: 95%;
    border-radius: 5px;
    justify-self: center;
    padding-bottom: 10px;
    background-color: rgb(10, 10, 10);
    color: #0f0;
    box-shadow: 0 0 5px 3px rgb(10, 10, 10)
    }
#bio {
    width: 95%;
    border-radius: 5px;
    justify-self: center;
    padding-bottom: 10px;
    background-color: rgb(10, 10, 10);
    color: #0f0;
    box-shadow: 0 0 5px 3px rgb(10, 10, 10)
    }
a.pet--color {
    color: #00d100
    }
a.pet--color:hover {
    color: #0f0
    }
a {
    color: #00d100
    }
a:hover {
    color: #0f0
    }
.testimonials {
    text-align: center;
    width: 100%;
    height: fit-content;
    font-style: italic
    }
#nav {
    font-size: 12pt;
    position: absolute;
    top: -3em;
    height: fit-content;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 1em
    }
#nav a, #nav a:visited {
    background: #fff;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    color: black
    }
#nav a:hover {
    background: #fff;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    color: black;
    box-shadow: 0 0 3px 3px green;
    transform: scale(1.15)
    }
#geiger {
    display: flex;
    flex-direction: row;
    width: 645px;
    position: absolute;
    top: 5px;
    left: 0;
    margin-bottom: 25px;
    justify-content: right
    }
#geiger {
    pointer-events: none
    }
#geiger img {
    width: 28%;
    box-shadow: 1px 1px 5px 0 black;
    margin-right: 1em;
    pointer-events: none
    }
.redacted {
    background-color: #0f0
    }
@media screen and (max-width: 959px) {
    #nav {
        font-size: 30pt;
        top: -2em
        }
    #sb_top, sb_side {
        display: initial
        }
    #container {
        min-height: fit-content
        }
    #page_content {
        margin-bottom: 2em;
        margin-top: 1.5em
        }
    #petLookupContent {
        width: 90dvw;
        height: fit-content;
        font-size: 24pt;
        padding-top: 1em;
        margin-bottom: 2em
        }
    #petDescription {
        grid-template-columns: initial;
        grid-template-areas: "bio" "testimonials";
        font-size: 28pt;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        gap: 1em
        }
    #bio {
        grid-area: bio
        }
    #petStats {
        font-size: 24pt;
        letter-spacing: -0.05em
        }
    #petPetpet {
        top: 20em
        }
    .pet--name {
        font-size: 90pt
        }
    .pet--header {
        margin-top: 0;
        font-size: 32pt
        }
    .pet--image {
        width: 40dvw
        }
    .pet--no-trade-alert {
        bottom: -1.75em;
        font-size: 32pt
        }
    .pet--petpetheader, .pet--petpetdesc {
        font-size: 20pt
        }
    .pet--petpetname {
        font-size: 36pt
        }
    #petTraits {
        font-size: 20pt;
        display: none
        }
    #geiger {
        left: 7em
        }
    #geiger img {
        width: 40%
        }
    .pet--no-trade-alert {
        bottom: -4em
        }
    }
