@import url(https://fonts.googleapis.com/css2?family=Finger+Paint&family=Schoolbell&display=swap);
/*nav positioning*/
#nav {
font-size: 12pt;
position: absolute;
top: -5px;
height: fit-content;
margin-top: 0.5em;
text-align: center;
display: flex;
flex-direction: row;
gap: 1em
}
/*nav styling*/
#nav a, #nav a:visited {
color: #eee;
border-radius: 0.5em;
border: 3px solid transparent;
padding-left: 0.25em;
padding-right: 0.25em
}
#nav a:hover {
border-radius: 0.5em;
color: #eee;
border: 3px dotted white
}
/*hiding things*/
hr, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks {
    display: none
}
/*background*/
body {
    background-image: url(https://i.postimg.cc/hPnS6RLG/schoolyard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}
/*centering*/
#page_event {
margin: 0
}
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content
}
#page_content {
display: flex;
margin: auto;
width: 100vw;
min-height: 100%;
justify-content: center;
align-items: center;
height: fit-content
}
/*link colors*/
/*link colors*/
a.pet--color {
    color: #31ce31
}
a.pet--color:hover {
    color: #60ceff
}
a {
    color: #60ceff
}
a:hover {
    color: #31ce31
}
/*title*/
.pet--header {
    font-family: finger paint;
    margin-top: 1.5em
}
.pet--name {
    display: block;
    font-size: 24pt;
    font-family: finger paint;
    color: #31ce31
}
.pet--name::after {
    display: block;
    position: absolute;
    right: 11em;
    top: 30px;
    content: " and Gobsmack!";
    transform: rotate(20deg);
    font-size: 10pt;
    color: #60ceff
}
/*container*/
#petLookupContent {
max-width: 44em;
position: relative;
font-family: schoolbell;
color: #eee;
background-image: url(https://i.postimg.cc/CMt5J28c/9-Blackboard-texture-seamless.jpg);
border-radius: 10px;
border-style: double;
border-color: #eee;
border-width: 3px;
padding: 0.65em;
box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.75)
}
/*info*/
#petInfo {
width: 100%;
grid-template-columns: 50%
}
#petImage {
width: 50%
}
.pet--image {
    content: url(https://i.postimg.cc/PxktDGv7/GobFlab.png);
    width: 22em
}
#petStats {
background: none;
text-align: center;
font-size: 12pt
}
.pet--gendercolor {
    color: #60ceff
}
.pet--hpcolor {
    color: #31ce31
}
#petTraits {
font-size: 10pt;
width: 16em;
margin: auto;
margin-top: 1em
}
/*extras*/
#petPetpet {
position: absolute;
width: 48%;
top: 21em
}
.pet--petpetage {
    display: none
}
.pet--petpetimg {
    content: url(https://i.postimg.cc/DZWrYMvn/Mischief.png)
}
.pet--petpetname {
    display: block;
    font-size: 18pt;
    font-family: finger paint
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    color: red;
    bottom: -2.5em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%;
    font-size: 14pt
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.15em;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
/*custom content*/
#petDescription {
display: grid;
grid-template-columns: 50% 50%;
grid-template-areas: "testimonials bio";
grid-area: desc;
color: #eee;
border-radius: 5px;
width: 100%;
margin-bottom: 15px;
font-size: 14pt;
letter-spacing: 2px
}
#testimonials {
grid-area: testimonials;
border-style: dashed;
border-color: #eee;
border-radius: 5px;
width: 85%;
justify-self: center;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px
}
#bio {
grid-area: bio;
border-style: dashed;
border-color: #eee;
border-radius: 5px;
width: 85%;
justify-self: center;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px
}
@media screen and (max-width: 959px) {
    #nav {
    font-size: 24pt
    }
    #sb_top, #sb_side {
    display: initial
    }
    #container {
    min-height: fit-content
    }
    #page_content {
    margin-bottom: 2em;
    margin-top: 1.5em
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    padding-top: 1em
    }
    #petDescription {
    grid-template-columns: initial;
    grid-template-areas: "bio" "testimonials";
    font-size: 28pt;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    gap: 1em
    }
    #bio {
    grid-area: bio;
    width: 95%
    }
    #testimonials {
    width: 95%
    }
    #petStats {
    font-size: 28pt
    }
    #petPetpet {
    top: 22em
    }
    .pet--name {
        font-size: 90pt
    }
    .pet--header {
        margin-top: 1em;
        font-size: 32pt
    }
    .pet--name:after {
        display: none
    }
    .pet--image {
        position: absolute;
        width: 53dvw;
        rotate: -25deg;
        left: 0;
        top: 11em
    }
    .pet--no-trade-alert {
        bottom: -1.75em;
        font-size: 32pt
    }
    .pet--petpetheader, .pet--petpetdesc {
        font-size: 20pt
    }
    .pet--petpetname {
        font-size: 36pt
    }
    #petTraits {
    font-size: 20pt
    }
}
