@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius&family=Playwrite+US+Trad:wght@100..400&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Limelight&display=swap);
/*STYLE*/
body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/backgrounds/Gladiolus2.jpg)
}
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
background: #7d77e5;
color: white;
border: 3px solid #7d77e5;
font-size: 12pt;
box-shadow: 1px 1px 3px 0 black
}
#petLookupContent {
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
font-family: delius
}
.pet--name {
    font-size: 30pt;
    font-family: "Playwrite US Trad"
}
.pet--header {
    font-size: 20pt;
    margin-top: 0;
    background-color: #7d77e5;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-family: comic neue
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 10pt
}
.pet--statsheader, #bio h2, #testimonials h2 {
    font-size: 16pt;
    color: white;
    text-shadow: 1px 1px 1px #000;
    background-color: #ffa3b1
}
.pet--petpetname {
    font-size: 20pt;
    font-weight: lighter;
    font-family: limelight;
    color: lightgray;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 2px #000, 1px -1px 2px #000
}
#petStats, #testimonials, #bio {
font-size: 11pt
}
#petTraits {
display: none
}
.pet--color {
    color: #ffccd3
}
.pet--color:hover {
    color: #d74788
}
/*HIDE SHIT*/
hr, .pet--petpetage, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav a, #aio_sidebar_placeholder, #petChallenge {
    display: none
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
    color: red
}
/*BREAK SHIT*/
#petDescription, div#desc, main, #petTop, #petInfo, #petPetpet, .pet_all_petpets, .pet_petpet {
display: contents
}
/*CENTERING*/
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content;
justify-content: center;
align-items: center
}
/*NAVIGATION*/
/*FORMATTING*/
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
#petLookupContent {
display: grid;
grid-template-areas: "header header" "pet p2img" "p2header p2header" "p2desc p2desc" "stats  bio" "testimonials testimonials";
grid-template-columns: 50%;
grid-template-rows: auto auto auto auto auto auto auto;
width: fit-content;
max-width: 44em;
margin: auto;
position: relative;
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
color: black;
gap: 0;
background: white
}
#nav, #mobilenav {
position: absolute;
top: -3.5em;
height: fit-content;
margin-top: 0.75em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
padding-left: 0.25em;
padding-right: 0.25em;
border-radius: 0.25em
}
#nav a:hover, #mobilenav a:hover {
scale: 0.9
}
.pet--header {
    grid-area: header;
    border-radius: 0.35em 0.35em 0 0;
    margin-top: 0;
    margin-bottom: 0.25em;
    border-bottom: 1px black
}
#petImage {
grid-area: pet;
margin-left: 60%
}
.pet--petpetimg {
    grid-area: p2img;
    align-self: end;
    margin-left: 11%;
    padding-right: auto;
    background: white
}
.pet--petpetheader {
    grid-area: p2header;
    font-size: 0
}
.pet--petpetheader:after {
    content: "and her petpet,";
    font-size: 10pt
}
.pet--petpetdesc {
    grid-area: p2desc;
    margin-bottom: 0.25em
}
.pet--statsheader {
    width: 100%;
    margin: 0;
    margin-bottom: 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75)
}
#petStats {
grid-area: stats;
background: white;
border-radius: 0.35em;
margin: 0.25em 0.25em 0.25em 0.5em;
padding: 0 0.35em 0 0.35em;
font-size: 12pt
}
#desc {
grid-area: desc;
display: grid;
grid-template-areas: "testimonials bio";
grid-template-columns: 50% 50%;
justify-content: center;
margin-top: 1em
}
#bio {
grid-area: bio;
margin: 0.25em 0.5em 0.25em 0.25em;
justify-content: center;
font-size: 12pt
}
#testimonials {
grid-area: testimonials;
margin: 0.25em 0.5em 0.5em 0.5em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 1em;
justify-content: center;
font-size: 12pt
}
#testimonials h2, #bio h2 {
width: 100%;
border-radius: 0.5em 0.5em 0 0;
box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
margin: 0
}
#testimonials p {
width: 30%
}
#testimonials, #bio {
border-radius: 0.35em;
padding-left: 0.35em;
padding-right: 0.35em
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    bottom: -2.25em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%
}
.pet--no-trade-text {
    padding: 0.25em;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
@media screen and (max-width: 959px) {
    #nav {
    display: none
    }
    #sb_top, #sb_side {
    display: initial
    }
    #mobilenav {
    display: flex;
    top: initial;
    top: -3em;
    gap: 0;
    width: 100%;
    justify-content: center;
    gap: 1em
    }
    #mobilenav a {
    font-size: 30pt
    }
    #container {
    min-height: fit-content
    }
    #page_content {
    margin-bottom: 2em;
    margin-top: 2em
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    padding-top: 1em
    }
    #petStats, #bio, #testimonials {
    font-size: 20pt
    }
    .pet--statsheader, #bio h2, #testimonials h2 {
        font-size: 24pt
    }
    .pet--name {
        font-size: 60pt;
        display: block
    }
    .pet--header {
        margin-top: -1em;
        font-size: 24pt
    }
    #petImage {
    margin-left: 50%
    }
    .pet--petpetimg {
        margin-left: 20%
    }
    .pet--no-trade-alert {
        bottom: -2em;
        font-size: 24pt
    }
    .pet--petpetheader:before, .pet--petpetheader:after, .pet--petpetdesc {
        font-size: 20pt
    }
    .pet--petpetname {
        font-size: 24pt
    }
    #petTraits {
    font-size: 16pt
    }
}
