@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dekko&family=DynaPuff:wght@400..700&family=Klee+One&display=swap);
/*STYLE*/
body {
    background-image: url(https://raw.githubusercontent.com/Hawkeye0021/GC-code/refs/heads/main/backgrounds/clawmachine.png)
}
.pet--image {
    content: url(https://i.postimg.cc/J4pHFD8X/flotsam-plushie-blue.png)
}
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
background: #2863d0;
color: white;
border: 3px solid #2863d0;
font-size: 14pt
}
#petLookupContent {
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
font-family: dekko
}
.pet--name {
    font-size: 36pt
}
.pet--header {
    font-size: 18pt;
    margin-top: 0;
    background-color: #2863d0;
    color: white;
    text-shadow: 1px 1px 1px #000
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 12pt
}
.pet--statsheader, #bio h2, #testimonials h2 {
    font-size: 18pt;
    color: white;
    text-shadow: 1px 1px 1px #000;
    background-color: #2863d0
}
.pet--petpetname {
    font-size: 20pt
}
.pet--petpetimg {
    mix-blend-mode: multiply
}
#petStats, #testimonials, #bio {
font-size: 14pt
}
#petTraits {
display: none
}
/*HIDE SHIT*/
hr, .pet--petpetage, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav a, #aio_sidebar_placeholder, #petChallenge {
    display: none
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
    color: red
}
/*BREAK SHIT*/
#petDescription, div#desc, main, #petTop, #petInfo, #petPetpet, .pet_all_petpets, .pet_petpet {
display: contents
}
/*CENTERING*/
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content;
justify-content: center;
align-items: center
}
/*NAVIGATION*/
/*FORMATTING*/
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
#petLookupContent {
display: grid;
grid-template-areas: "header header" "pet p2img" "p2header p2header" "p2desc p2desc" "stats  bio" "testimonials testimonials";
grid-template-columns: 50%;
grid-template-rows: auto auto auto auto auto auto auto;
width: fit-content;
max-width: 44em;
margin: auto;
position: relative;
border-radius: 0.75em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
color: black;
gap: 0;
background: #f8f8f8;
border-radius: 30px;
border-style: dashed;
border-color: #2863d0;
border-width: 0.25em;
padding: 5px
}
#nav, #mobilenav {
position: absolute;
top: -3.5em;
height: fit-content;
margin-top: 0.75em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
padding-left: 0.25em;
padding-right: 0.25em;
border-radius: 0.25em
}
#nav a:hover, #mobilenav a:hover {
scale: 0.9
}
.pet--header {
    grid-area: header;
    margin-top: 0;
    margin-bottom: 0.25em;
    border-radius: 25px 25px 0 0
}
#petImage {
grid-area: pet;
margin-left: 60%
}
.pet--petpetimg {
    grid-area: p2img;
    align-self: end;
    margin-left: 11%;
    padding-right: auto;
    background: white
}
.pet--petpetheader {
    grid-area: p2header;
    font-size: 0
}
.pet--petpetheader:after {
    content: "and his petpet,";
    font-size: 12pt
}
.pet--petpetdesc {
    grid-area: p2desc
}
.pet--statsheader {
    width: 100%;
    margin: 0;
    margin-bottom: 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75)
}
#petStats {
grid-area: stats;
background: none;
border-radius: 0.35em;
margin: 0.25em 0.25em 0.25em 0.5em;
padding: 0 0.35em 0 0.35em
}
#desc {
grid-area: desc;
display: grid;
grid-template-areas: "testimonials bio";
grid-template-columns: 50% 50%;
justify-content: center;
margin-top: 1em
}
#bio {
grid-area: bio;
margin: 0.25em 0.5em 0.25em 0.25em;
justify-content: center
}
#testimonials {
grid-area: testimonials;
margin: 0.25em 0.5em 0.5em 0.5em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 1em;
justify-content: center
}
#testimonials h2, #bio h2 {
width: 100%;
border-radius: 0.5em 0.5em 0 0;
box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.75);
margin: 0
}
#testimonials p {
width: 30%
}
#testimonials, #bio {
border-radius: 0.35em;
padding-left: 0.35em;
padding-right: 0.35em
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    bottom: -2.25em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%
}
.pet--no-trade-text {
    padding: 0.25em;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
.pet--image:hover, .pet--petpetimg:hover {
    -webkit-animation: jello-horizontal 0.5s infinite both;
    animation: jello-horizontal 0.5s infinite both;
    transform-origin: center bottom
}
/* ----------------------------------------------
 * Generated by Animista on 2025-1-15 20:42:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    } 100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    } 100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
#petTrophies {
width: fit-content;
position: absolute;
top: 5em;
right: 0.35em
}
#squishy {
display: none
}
#petImage:before {
content: "Im Squishy!";
position: absolute;
left: 3em;
top: 4em;
font-size: 16pt;
font-weight: bold;
rotate: -20deg
}
.pet--trophyimg {
    mix-blend-mode: multiply;
    border: 3px double gold;
    border-radius: 1.25em
}
@media screen and (max-width: 959px) {
    #nav {
    display: none
    }
    #sb_top, #sb_side {
    display: initial
    }
    #mobilenav {
    display: flex;
    top: initial;
    top: -3em;
    gap: 0;
    width: 100%;
    justify-content: center;
    gap: 1em
    }
    #mobilenav a {
    font-size: 30pt
    }
    #container {
    min-height: fit-content
    }
    #page_content {
    margin-bottom: 2em;
    margin-top: 2em
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    padding-top: 1em
    }
    #petStats, #bio, #testimonials {
    font-size: 20pt
    }
    .pet--statsheader, #bio h2, #testimonials h2 {
        font-size: 24pt
    }
    .pet--name {
        font-size: 60pt;
        display: block
    }
    .pet--header {
        margin-top: -1em;
        font-size: 24pt
    }
    #petImage {
    margin-left: 50%
    }
    .pet--petpetimg {
        margin-left: 20%
    }
    .pet--no-trade-alert {
        bottom: -2em;
        font-size: 24pt
    }
    .pet--petpetheader:before, .pet--petpetheader:after, .pet--petpetdesc {
        font-size: 20pt
    }
    .pet--petpetname {
        font-size: 24pt
    }
    #petTraits {
    font-size: 16pt
    }
}
