
@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap);
@import url(https://db.onlinewebfonts.com/c/d6edcf3131cd69a728743bbc735d4316?family=WATERCOLORS+CLEAN+PERSONAL+USE+Italic);
/*nav positioning*/
#nav, #mobilenav {
font-size: 16pt;
position: absolute;
top: -2.5em;
height: fit-content;
margin-top: 0.75em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
/*nav styling*/
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
background: #fcfffb;
padding-left: 0.25em;
padding-right: 0.5em;
border-radius: 0.25em;
color: rgb(62, 104, 217)
}
#nav a:hover, #mobilenav a:hover {
transform: scale(1.15)
}
/*hiding things*/
hr, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #page_banner, #petLinks, #mobilenav {
    display: none
}
/*background*/
html {
    height: 100dvh;
}
body {
    background-image: url(https://i.postimg.cc/vmCzv5v9/Sailing-America-compressed.jpg);
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
    color: black
}
#homepage_link {
display: none;
}
#sb_top {
grid-area: top;
width: fit-content;
display: flex;
height: fit-content;
justify-self: center;
background-position: top center;
background-size: 220%;
border-radius: 0px 0px 10px 10px;
border-width: 0px 2px 2px 2px;
border-color: black;
border-style: solid;
}
.top-bar-items{
    width: fit-content;
}
#userinfo {
margin-left: 15px;
}
#sb_side {
grid-area: side;
border-width: 2px 2px 2px 2px;
border-radius: 10px 10px 10px 10px;
align-self: center;
justify-self: right;
margin-right: 50px;
}
#sb_createpet {
border-radius: 10px 10px 0px 0px;
}

/*centering*/
#page_event {
grid-area: event;
justify-self: center;
}
#container {
width: 100dvw;
grid-template-areas:
"top top top"
"event event event"
"side content aio";
grid-template-columns:minmax(15%, 50%) auto minmax(15%, 50%);
grid-template-rows: auto;
}
#page_content {
grid-area: content;
padding-top: 4em;
padding-bottom: 4em;
}
/*title*/
.pet--name {
    display: block;
    font-size: 64pt;
    font-family: watercolors clean personal use italic;
    margin-top: 0.6em;
    color: #3e68d9d9;
    font-weight: lighter
}
.pet--header {
    font-size: 18pt;
    line-height: 1.5em
}
.pet--color {
    color: #3e68d9
}
/*container*/
#petLookupContent {
max-width: 40em;
margin: auto;
position: relative;
background-image: url(https://i.postimg.cc/wvmngqvK/watercolorpaper.webp);
background-size: 50%;
border-radius: 0.75em;
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
color: black;
font-family: caveat
}
/*info*/
#petImage {
width: 100%;
mix-blend-mode: multiply
}
#petInfo {
grid-template-columns: 50% 50%;
width: 100%;
gap: 1em;
justify-content: center
}
#petStats {
background-color: transparent;
font-size: 16pt;
padding: 0
}
#petStats a, #petStats a:visited {
color: #3e68d9
}
#petStats a:hover {
color: blue
}
#petTraits {
display: none
}
/*extras*/
#petPetpet {
position: absolute;
width: 45%;
top: 22em
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 12pt
}
.pet--petpetage {
    display: none
}
.pet--petpetimg {
    mix-blend-mode: multiply
}
.pet--petpetzapped {
    color: transparent;
    position: relative;
    bottom: 12em;
    right: 3em;
    transform: rotatey(180deg)
}
.pet--petpetname {
    display: block;
    font-size: 32pt;
    margin-top: 0.5em;
    line-height: 0.5em;
    font-family: watercolors clean personal use italic;
    color: rgba(62, 104, 217, 0.85);
    font-weight: lighter
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    color: red;
    bottom: -2.5em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%;
    font-size: 14pt
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.15em;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
/*custom content*/
#petDescription {
display: grid;
grid-template-columns: 50% 50%;
width: 100%;
gap: 0.6em;
justify-content: center;
font-size: 16pt
}
#petDescription h2 {
line-height: 0.5em
}
#testimonials, #bio {
border-style: solid;
border-width: 2px;
border-color: #000;
border-radius: 0.35em;
padding-left: 0.35em;
padding-right: 0.35em
}
@media screen and (max-width: 959px) {
    #nav {
    display: none
    }
    #sb_top {
    display: initial
    }
    #mobilenav {
    display: flex;
    top: initial;
    top: -2.2em;
    font-size: 36pt;
    gap: 0;
    width: 100%;
    justify-content: center;
    gap: 1em
    }
    #container {
    min-height: fit-content
    }
    #page_content {
    margin-bottom: 2em;
    margin-top: 1.5em
    }
    #petLookupContent {
    width: 90dvw;
    height: fit-content;
    font-size: 24pt;
    padding-top: 1em
    }
    #petDescription {
    grid-template-columns: initial;
    grid-template-areas: "bio" "testimonials";
    font-size: 28pt;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em
    }
    #bio {
    grid-area: bio
    }
    #petStats {
    font-size: 28pt
    }
    #petPetpet {
    top: 19em
    }
    .pet--name {
        font-size: 90pt
    }
    .pet--header {
        margin-top: -1em;
        font-size: 32pt
    }
    .pet--image {
        width: 40dvw
    }
    .pet--no-trade-alert {
        bottom: -1.75em;
        font-size: 32pt
    }
    .pet--petpetheader, .pet--petpetdesc {
        font-size: 20pt
    }
    .pet--petpetname {
        font-size: 36pt
    }
    #petTraits {
    font-size: 20pt
    }
}
