
@import "https://hawkeye0021.github.io/GCcode/Hawkeye/petLookupTemplate.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Iceberg&family=Tulpen+One&display=swap);
body {
    background-image: url(https://i.postimg.cc/4ykBPjC6/storms.jpg)
}
.pet--image {
    content: url(https://i.postimg.cc/kX3Vgfc0/Flotsam-Electric.png)
}
.pet--petpetzapped {
    color: transparent;
    grid-area: p2img;
    justify-self: left;
    margin-top: 30%;
    margin-left: 15%;
    font-size: 0
}
.pet--petpetimg {
    content: url(https://raw.githubusercontent.com/Hawkeye0021/hawkeye0021.github.io/refs/heads/main/GCcode/_Overlays/soot.png);
    background: none;
}
.pet--petpetheader::after {
    content: "and his petpet"
}
#petLookupContent {
background-image: url(https://i.postimg.cc/3Rrgx9Fj/storm-dark.jpg);
color: white;
font-family: roboto;
font-weight: lighter;
padding-bottom: 0.5em
}
.pet--header {
    background: none;
    font-family: Tulpen one;
    letter-spacing: 0.1em;
    font-size: 24pt;
    font-style: italic
}
.pet--name {
    font-size: 48pt;
    color: aqua
}
.pet--color {
    color: lightblue
}
.pet--statsheader, #bio h2 {
    background: none;
    box-shadow: none;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: aqua;
    border-radius: 0.25em;
    font-weight: normal
}
.pet--statsheader strong {
    font-weight: normal
}
#testimonials {
display: none
}
#nav a, #nav a:visited, #mobilenav a5555, #mobilenav a:visited {
background: none;
border: none;
color: aqua;
font-family: tulpen one;
font-weight: lighter;
font-size: 24pt;
letter-spacing: 0.05em
}
.pet--ownerlink, .pet--gendercolor, .pet--hpcolor, .pet--no-trade-text {
    color: aqua
}
